@page "/"

<div class="row">

    <div class="col-6">
        <ToDoApplication.Pages.Components.ToDo HeaderName="ToDo-List(*)">
        </ToDoApplication.Pages.Components.ToDo>
        <i>* List is stored locally in your browser.</i>
    </div>

    @*<div class="col-6">
        <ToDoApplication.Pages.Components.ToDo HeaderName="Same Tasklist, new header">

        </ToDoApplication.Pages.Components.ToDo>
    </div>*@

</div>